pyyaml
pefile
capstone
pythonnet==3.0.0a2
pe_tools
yara-python
capstone
keystone-engine
pycryptodome
argparse
donut-shellcode
PrettyTable
pysimplegui
clipboard
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability